@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

$overpass: 'Overpass', sans-serif; // Weights 300, 600
$ubuntu: 'Ubuntu', sans-serif;  // Weights 400, 500, 700

body {
  font-family: $overpass;
  font-size: 16px;
}

.highlight-btn {
  font-family: $ubuntu;
  font-size: 1.02rem;
  font-weight: 700;
}
// .title {
//   font-size: 0.7rem;
//   text-transform: uppercase;
//   letter-spacing: 0.2rem;
// }

// .advice {
//   font-size: 1.5rem;
// }

// @media (min-width: 600px){  
//   .title {
//     font-size: 0.8rem;
//   }

//   .advice {
//     font-size: 1.7rem;
//   }
// }