@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

$overpass: 'Overpass', sans-serif; // Weights 300, 600
$ubuntu: 'Ubuntu', sans-serif;  // Weights 400, 500, 700

body {
  font-family: $overpass;
  font-size: 16px;
}

li {
  font-family: $ubuntu;
  font-size: 1rem;
  font-weight: 500;
}

.highlight-btn {
  font-family: $ubuntu;
  font-size: 1.02rem;
  font-weight: 700;
}

.title {
  font-size: 3.9rem;
  font-weight: 600;
}

.description {
  font-size: 1.3rem;
}

.future__heading {
  font-size: 2.32rem;
  font-weight: 600;
}

.section__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.section__paragraph {
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: 0.055rem;
  line-height: 1.75rem;
}
// @media (min-width: 600px){  
//   .title {
//     font-size: 0.8rem;
//   }

//   .advice {
//     font-size: 1.7rem;
//   }
// }