// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

.highlight-btn {
  width: 9rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  border-style: none;
  transition: 0.3s;
  cursor: pointer;
}

.solid {
  background-color: ab.$white;
  color: ab.$light-red-text;
  
  &:hover {
    background-color: ab.$very-light-red;
    color: ab.$white;
  }
}

.outline {
  border: 1px solid ab.$white;
  background-color: transparent;
  color: ab.$white;

  &:hover {
    background-color: ab.$white;
    color: ab.$light-red-text;
  }
}