// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

.free-container {
  position: relative;
  background: url("./../images/illustration-laptop-desktop.svg") no-repeat right;
  background-size: 68%;
  background-position: -17.5rem 35rem;
  height: 85rem;
}

.free__text-container {
  position: absolute;
  top: 40rem;
  right: 0;
  padding: 7rem 10.2rem;
  width: 60%;
}

.section__article {
  padding-bottom: 4.5rem;
}

.section__title {
  padding-bottom: 1.7rem;
  color: ab.$very-dark-blue;
}