// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

.hero-image {
  position: relative;
  background: url("./../images/bg-pattern-intro-desktop.svg") no-repeat,
              linear-gradient(to right, ab.$very-light-red, ab.$light-red);
  background-size: 225%, 100%;
  background-position: -29rem -86rem, 0;
  height: 38rem;
  border-radius: 0 0 0 120px;
}

.hero-copy {
  padding: 3.9rem 0;
  text-align: center;
  color: ab.$white;
}

.title {
  padding-bottom: 0.8rem;
}

.description {
  padding-bottom: 3rem;
}