// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

.infrastructure-container {
  position: relative;
}

.phones {
  position: absolute;
  background-image: url("./../images//illustration-phones.svg");
  background-size: 100%;
  background-position: 0rem -1.2rem;
  width: 34rem;
  height: 31rem;
  overflow: visible;
  margin-left: 7.8rem;
  z-index: 1;
}

.blue-background {
  position: absolute;
  background: url("./../images/bg-pattern-circles.svg") no-repeat,
              linear-gradient(to right, ab.$very-dark-gray-blue, ab.$very-dark-desaturated-blue);
  background-size: 75%, 100%;
  background-position: -17rem -36rem, 0rem 0rem;
  width: 100%;
  height: 24.7rem;
  border-radius: 0 120px 0 120px;
  margin-top: 3rem;
}

.infrastructure__text-container {
  position: absolute;
  right: 0;
  width: 55%;
  height: 24.7rem;
}

.section__article {
  padding: 7.5rem 9.5rem 0 5rem;
}

.infrastructure__heading {
  padding-bottom: 1.6rem;
}

.section__title {
  padding-bottom: 1.7rem;
  color: ab.$very-dark-blue;
}

.white {
  color: ab.$white;
}