// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

nav {
  padding: 3.5rem 8.4rem 0 10rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-left,
.menu-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  background-color: brown;
  width: 40%;
}

.product,
.company,
.connect {
  position: relative;

  ul {
    position: absolute;
    background: ab.$white;
    list-style: none;
    margin: 2rem 0 0 -1.5rem;
    padding: 2rem 2rem 1rem 2rem;
    width: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-1.5rem);
    transition: all 0.4s ease;
  }

  li {
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    
    a {
      color: black;
      text-decoration: none;
    }    
  }
}

.product li:hover,
.company li:hover,
.connect li:hover {
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.product button:focus + ul,
.company button:focus + ul,
.connect button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(-0.5rem);
}

.menu-right li {
  list-style: none;
  padding-left: 2rem;
}

.menu-btn {
  background: none;
  border: none;
  color: ab.$white;
  text-decoration: none;
  cursor: pointer;
}

// #navbar,
// .menu,
// .menu-left,
// .menu-right, .dropdown {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// #navbar {
//   justify-content: center;
// } 

// .nav-list {
//   width: 100%;
// }

// .menu {
//   justify-content: space-between;
// }

// .logo, .nav-link {
//   list-style: none;
//   text-decoration: none;
//   color: ab.$white;
//   padding: 0 0.5rem;
// }

// .nav-link {
//   padding-left: 2rem;
//   &:hover {
//     text-decoration: solid underline ab.$white 2px;
//   }
// }

// .arrow {
//   background-image: url("./../images/icon-arrow-light.svg") no-repeat;
//   padding-top: 0.2rem;
// }

