// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

#navbar,
.menu,
.menu-left,
.menu-right, .dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar {
  justify-content: center;
} 

.nav-list {
  width: 100%;
}

.menu {
  justify-content: space-between;
}

.logo, li, .link {
  list-style: none;
  text-decoration: none;
  color: ab.$white;
  padding: 0 0.5rem;
}

.logo {
  padding-right: 3rem;
}

li {
  padding-left: 2rem;
  &:hover {
    text-decoration: solid underline ab.$white 2px;
  }
}

// .down-arrow {
//   background-image: url("./../images/icon-arrow-light.svg") no-repeat;
//   padding-top: 0.2rem;
// }

