@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

.menu-btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.highlight-btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.02rem;
  font-weight: 700;
}

.product li,
.company li,
.connect li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.product li:hover,
.company li:hover,
.connect li:hover {
  font-weight: 700;
}

.title {
  font-size: 3.9rem;
  font-weight: 600;
}

.description {
  font-size: 1.3rem;
}

.future__heading,
.infrastructure__heading {
  font-size: 2.32rem;
  font-weight: 600;
}

.section__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.section__paragraph {
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: 0.055rem;
  line-height: 1.75rem;
}

.footer__heading,
.footer-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.91rem;
}

.footer__heading {
  font-weight: 500;
}

.footer-link {
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

.menu-btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.highlight-btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.02rem;
  font-weight: 700;
}

.product li,
.company li,
.connect li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.product li:hover,
.company li:hover,
.connect li:hover {
  font-weight: 700;
}

.title {
  font-size: 3.9rem;
  font-weight: 600;
}

.description {
  font-size: 1.3rem;
}

.future__heading,
.infrastructure__heading {
  font-size: 2.32rem;
  font-weight: 600;
}

.section__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.section__paragraph {
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: 0.055rem;
  line-height: 1.75rem;
}

.footer__heading,
.footer-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.91rem;
}

.footer__heading {
  font-weight: 500;
}

.footer-link {
  font-weight: 400;
}

#navbar {
  padding: 3.8rem 8rem 3.8rem 10rem;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

.menu-btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.highlight-btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.02rem;
  font-weight: 700;
}

.product li,
.company li,
.connect li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.product li:hover,
.company li:hover,
.connect li:hover {
  font-weight: 700;
}

.title {
  font-size: 3.9rem;
  font-weight: 600;
}

.description {
  font-size: 1.3rem;
}

.future__heading,
.infrastructure__heading {
  font-size: 2.32rem;
  font-weight: 600;
}

.section__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.section__paragraph {
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: 0.055rem;
  line-height: 1.75rem;
}

.footer__heading,
.footer-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.91rem;
}

.footer__heading {
  font-weight: 500;
}

.footer-link {
  font-weight: 400;
}

.highlight-btn {
  width: 9rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  border-style: none;
  transition: 0.3s;
  cursor: pointer;
}

.solid {
  background-color: hsl(0deg, 100%, 100%);
  color: hsl(356deg, 100%, 66%);
}

.solid:hover {
  background-color: hsl(13deg, 100%, 72%);
  color: hsl(0deg, 100%, 100%);
}

.outline {
  border: 1px solid hsl(0deg, 100%, 100%);
  background-color: transparent;
  color: hsl(0deg, 100%, 100%);
}

.outline:hover {
  background-color: hsl(0deg, 100%, 100%);
  color: hsl(356deg, 100%, 66%);
}

footer {
  background-color: hsl(240deg, 10%, 16%);
  height: 22.5rem;
}

.footer-container {
  width: 90%;
  display: flex;
  padding: 4.3rem 10rem 2rem 9rem;
  justify-content: space-around;
}

.categories {
  width: 71%;
  padding-left: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.footer__heading {
  color: hsl(0deg, 100%, 100%);
  margin-bottom: 2.2rem;
}

.footer-link {
  list-style: none;
  text-decoration: none;
  color: hsl(240deg, 2%, 79%);
  margin-bottom: 1rem;
}

.footer-link:hover {
  text-decoration: solid underline hsl(0deg, 100%, 100%) 1px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0deg, 100%, 100%);
}

.attribution a {
  color: hsl(356deg, 100%, 66%);
}

.free-container {
  position: relative;
  background: url("./../images/illustration-laptop-desktop.svg") no-repeat right;
  background-size: 68%;
  background-position: -17.5rem 35rem;
  height: 92rem;
}

.free__text-container {
  position: absolute;
  top: 40rem;
  right: 0;
  padding: 7rem 10.2rem;
  width: 60%;
}

.section__article {
  padding-bottom: 4.5rem;
}

.section__title {
  padding-bottom: 1.7rem;
  color: hsl(208deg, 49%, 24%);
}

.future-container {
  position: relative;
  background: url("./../images/illustration-editor-desktop.svg") no-repeat right;
  background-size: 65%;
  background-position: 49rem 4.7rem;
  height: 60.8rem;
}

.future__heading {
  padding: 9.5rem 0 0 0;
  text-align: center;
  color: hsl(208deg, 49%, 24%);
}

.future__text-container {
  padding: 7rem 10.2rem;
  width: 60%;
}

.section__article {
  padding-bottom: 4.5rem;
}

.section__title {
  padding-bottom: 1.7rem;
  color: hsl(208deg, 49%, 24%);
}

.hero-image {
  position: relative;
  background: url("./../images/bg-pattern-intro-desktop.svg") no-repeat, linear-gradient(to right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  background-size: 225%, 100%;
  background-position: -29rem -86rem, 0;
  height: 38rem;
  border-radius: 0 0 0 120px;
}

.hero-copy {
  padding: 3.9rem 0;
  text-align: center;
  color: hsl(0deg, 100%, 100%);
}

.title {
  padding-bottom: 0.8rem;
}

.description {
  padding-bottom: 3rem;
}

.infrastructure-container {
  position: relative;
}

.phones {
  position: absolute;
  background-image: url("./../images//illustration-phones.svg");
  background-size: 100%;
  background-position: 0rem -1.2rem;
  width: 34rem;
  height: 31rem;
  overflow: visible;
  margin-left: 7.8rem;
  z-index: 1;
}

.blue-background {
  position: absolute;
  background: url("./../images/bg-pattern-circles.svg") no-repeat, linear-gradient(to right, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
  background-size: 75%, 100%;
  background-position: -17rem -36rem, 0rem 0rem;
  width: 100%;
  height: 24.7rem;
  border-radius: 0 120px 0 120px;
  margin-top: 3rem;
}

.infrastructure__text-container {
  position: absolute;
  right: 0;
  width: 55%;
  height: 24.7rem;
}

.infrastructure__article {
  padding: 7.5rem 9.5rem 0 5rem;
}

.infrastructure__heading {
  padding-bottom: 1.6rem;
}

.white {
  color: hsl(0deg, 100%, 100%);
}

nav {
  padding: 3.5rem 8.4rem 4rem 10rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  padding-right: 2.5rem;
}

.menu-left,
.menu-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  width: 42%;
}

.product,
.company,
.connect {
  position: relative;
}

.product ul,
.company ul,
.connect ul {
  position: absolute;
  background: hsl(0deg, 100%, 100%);
  list-style: none;
  margin: 2rem 0 0 -1.5rem;
  padding: 2rem 2rem 1rem 2rem;
  width: 175px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-1.5rem);
  transition: all 0.4s ease;
}

.product li,
.company li,
.connect li {
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.product li a,
.company li a,
.connect li a {
  color: black;
  text-decoration: none;
}

.product li:hover,
.company li:hover,
.connect li:hover {
  border-radius: 5px;
  cursor: pointer;
}

.product button:focus + ul,
.company button:focus + ul,
.connect button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(-0.5rem);
}

.menu-right li {
  list-style: none;
  padding-left: 2rem;
}

.menu-btn {
  background: none;
  border: none;
  color: hsl(0deg, 100%, 100%);
  text-decoration: none;
  cursor: pointer;
}

.menu-btn:hover {
  text-decoration: solid underline hsl(0deg, 100%, 100%) 2px;
}

.arrow {
  background-image: url("./../images/icon-arrow-light.svg") no-repeat;
  padding: 0.2rem 0 0 0.2rem;
  width: 100%;
  height: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(231, 229, 229);
  margin: 5px;
  transition: all 0.3s ease;
}

/*# sourceMappingURL=style.css.map */
